:root {
  --main-bg-color: #eeeeff;
  --secondary-bg-color: #9fb4c7;
  --main-black: #242331;
  --main-font: "Lato", sans-serif;
  --main-pink: #cf8e80;
  --main-brown: #916953;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  text-align: center;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--main-black);
  border-radius: 5px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
